.right-align{
    float: right;
}

table {
    width: 100%;
}

#submissionForm {
    width: 300px;
    background-color: #ECECEC;
}

#userDetail {
    width: 500px;
    height:auto;
    background-color: #ECECEC;
}

#loginFeedback {
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.cetner-horizontal {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.full-span {
    width: 100%;
}

.output td {
    border: 1px solid black;
}

tr.thick-border td {
    border-bottom: 5px solid black;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.picture-column {
    width: 115px;
}

.inner td {
    width: 50%;
}

body{
    background-color: #111111;
}